/* baby naming app css*/


body {

  background: url("../images/baby_photo3.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*body {
  background-color: lightgreen;
}*/

.content {
  font-family: "Palatino";
  text-align: center;

  display: inline-flex;
  flex-direction: column;
  align-items: center;

}

.field-area {
  color: white;
  background: linear-gradient(#ff8095,#3366cc)


}

#title {
  font-size: 3em;
  color: white;
  margin: 30px;
  padding: 15px;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;

  border-bottom: 3px solid black;
  background-color: #3366cc;
}

#instructions {
  width: 45%;
  color: white;
  margin: 20px;
  padding: 10px;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;

  background-color: #ff8095;

}

.form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

}

.first, .middle, .last {


}

textarea {
  font-size: 2em;
  width: 80%;
  height: 200px;
  border-radius: 20px;

}

.results {
  width: 65%;
  resize: horizontal;

}

#resultNames {
  height: 500px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;

  color: white;
  font-size: 2.25em;

  background: #3366cc;
  padding: 10px 20px 10px 20px;
  margin-top: 40px;
  text-decoration: none;

}

.btn:hover {
  background: #ff8095;
  color: white;
  text-decoration: none;
}

#generateButton {
  border: 5px solid black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d9d9d9;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d9d9d9;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d9d9d9;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d9d9d9;
  font-style: italic;
}

/* learning how to display things differenlty on mobile */

@media only screen and (max-width: 600px) {

  #title, #instructions {
    width: 90%;
  }

  .first, .middle, .last, .results {
    width: 90%;
  }

  .results textarea {
    font-size: 1em;
  }

  textarea {
    width: 90%;
  }

  .form {

  }

}
